.search-form {
	margin-bottom: pixel(40);
}

.search-list-total {
	margin-bottom: 0;
}

.search-list {
	list-style: none;
	margin-bottom: pixel(40);
	padding-left: 0;
}

.search-list-item {
	margin-top: pixel(40);

	h4 {
		margin-bottom: pixel(5);
	}

	p {
		margin-bottom: 0;
	}
}
